<style>
  html { 
    background: url(<%= asset_path("barescare.jpg") %>) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color:white;
  border-radius:10px;
  padding:40px;
  text-align:center;
}
</style>
<html>
  <head>
 </head>
  <body class="active_admin logged_out new">
    <div class="center">

      <% flash.each do |key, value| %>
            <div class="<%= flash_class(key) %>">
                  <%= value %>
            </div>
      <% end %>
      
      <%= link_to "User Login", oauth2_login_path %>
      <br>
      <%= link_to "Admin Login", new_admin_user_session_path %>
        
    </div>
  </body>
</html>